<!DOCTYPE html>
<html>
<head>	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!-- CSS-->
	<link rel="stylesheet" type = "text/css" href="css/stylesheet.css"> 

	<title>Results</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/users/loggedIn"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
			<form class="form-inline">
				<a class="btn btn-secondary mr-sm-2" href="/users/profile" role="button">Mein Profil</a>
				<a class="btn btn-secondary"  href="/users/logout" role="button">Ausloggen</a>
			</form>
		</div>
	</nav>

	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h3 class="display-6">Choose your Service</h3>
			</div>
		</div>
	</div>
	<div class="container-fluid padding">
			<div class="row text-center padding">
			  <div class="col-xs-12 col-sm-4 col-md-3 text-left">
					<div class="d-flex">
					  <input type="search" placeholder="Your City"/> 
					  <button class="btn btn-light btn-sm" type="submit"><i class="fa fa-search"></i>&#x1F50D </button> <!--&#x1F50D = Lupe-->
				 	</div>
					<div>
						<input type="checkbox" id="mc" name="Categorie" value="Man cut">
						<label for="mc">Man cut</label><br/>
						<input type="checkbox" id="wc" name="Categorie" value="Woman cut">
						<label for="mc">Woman cut</label><br/>
						<input type="checkbox" id="w" name="Categorie" value="Washing">
						<label for="w">Washing</label><br/>
						<input type="checkbox" id="dy" name="Categorie" value="Dyeing">
						<label for="dy">Dyeing</label><br/>
						<input type="checkbox" id="ba" name="Categorie" value="Barber">
						<label for="ba">Barber</label><br/>
						<input type="checkbox" id="pe" name="Categorie" value="Perm">
						<label for="pe">Perm</label><br/>
						<input type="checkbox" id="hm" name="Categorie" value="Head Massage">
						<label for="mc">Head Massage</label><br/>
						<label>Sort by
							<select>
								<option value="?">Best rated</option>
								<option value="?">Lowest price</option>
								<option value="?">Highest price</option>
								<option value="?">Smallest distance</option>
							</select>
						</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-6">
					<section class="get">
						<% if(friseure!=null) { %>
							<table>
							<tr>
								<th>Name</th>
								<th>Adresse</th>
								<th>Email</th>
								<th>Telefon</th>
								<th>Webseite</th>
								<th>Mitarbeiter</th>
								<th>Parkplätze</th>
							</tr>
							<% friseure.forEach(function(item){ %>
							<tr>
								<td><%= item.Name %></td>
								<td><%= item.Adresse %></td>
								<td><%= item.Email %></td>
								<td><%= item.Telefon %></td>
								<td><%= item.Webseite %></td>
								<td><%= item.Mitarbeiter %></td>
								<td><%= item.Parkplaetze %></td>

							</tr>
							<% }) %>
							</table>
							<% } %>
						<h2>Alle Friseure</h2>
						<article>
							<h3><a href="" title="">Friseurname</a></h3>
							<img src="" alt="" />
							<p>Adresse</p>
							<p>Email</p>
							<p>Telefonnummer</p>
							<p>Webseite</p>
						</article>
						<article>
							<h3><a href="" title="">Friseurname</a></h3>
							<img src="" alt=""/>
							<p>Adresse</p>
							<p>Email</p>
							<p>Telefonnummer</p>
							<p>Webseite</p>
						</article>
					</section>
				</div>
				<div class="col-sm-12 col-md-3">
				  <h2>Map</h2>
				  <p>Your position</p>
				</div>
			  </div>
			</div>
			
		</div>

		<footer>
			<div class="container-fluid padding">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h6>Impressum</h6>
					<p>Bild</p>
					<p>Telefon</p>
					<p>Straße Nr.</p>
					<p>PLZ Stadt</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h6>Über</h6>
					<a href="">Über Scissoroo</a><br/>
					<a href="">Nutzungsbedingungen</a><br/>
					<a href="">Datenschutzerklärung</a>
				</div>
				<div class="col-md-4">
					<h6>Entdecken</h6>
					<a href="">Scissoroo-Blog</a><br/>
				</div>
				<div class="col-12">
					<hr class="light">
					<h6>&copy; scissoroo.herokuapp.com</h6>
				</div>					
			</footer>
	</body>	

</html>